In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("hdata.csv")
data.head(5)#display 5 rows of data sets

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [3]:
data=pd.read_csv("hdata.csv")
data.head(5)#display 5 rows of data sets

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [4]:
dmap = {True: 1, False: 0} # labling true =1 and false =0

In [5]:
data['diabetes'] = data['diabetes'].map(dmap) # mpping true and false value i.e 1 and 0 to the dataframe "converting categoriacl label to integer label"
data.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1

In [6]:
truevalue = len(data.loc[data['diabetes'] == True]) # calculating true value 
falsevalue = len(data.loc[data['diabetes'] == False]) # calculating false value
toatlvalue=truevalue+falsevalue # total value 
print("total value",+toatlvalue)
print("false value",+falsevalue)
print("true value",+truevalue) # for checkig the data set that is labels are in balance form or not 
value=[truevalue,falsevalue]

total value 768
false value 500
true value 268

In [8]:
print("total number of rows : {0}".format(len(data))) #we dont have any NAN value but we have 0 value in our data sets , so here we are calculating no of 0 values in each columns
print("number of rows missing glucose_conc: {0}".format(len(data.loc[data['glucose_conc'] == 0])))
print("number of rows missing glucose_conc: {0}".format(len(data.loc[data['glucose_conc'] == 0])))
print("number of rows missing diastolic_bp: {0}".format(len(data.loc[data['diastolic_bp'] == 0])))
print("number of rows missing insulin: {0}".format(len(data.loc[data['insulin'] == 0])))
print("number of rows missing bmi: {0}".format(len(data.loc[data['bmi'] == 0])))
print("number of rows missing diab_pred: {0}".format(len(data.loc[data['diab_pred'] == 0])))
print("number of rows missing age: {0}".format(len(data.loc[data['age'] == 0])))
print("number of rows missing skin: {0}".format(len(data.loc[data['skin'] == 0])))

total number of rows : 768
number of rows missing glucose_conc: 5
number of rows missing glucose_conc: 5
number of rows missing diastolic_bp: 35
number of rows missing insulin: 374
number of rows missing bmi: 11
number of rows missing diab_pred: 0
number of rows missing age: 0
number of rows missing skin: 227

In [7]:
data.columns # getting columns names

Index(['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin',
       'bmi', 'diab_pred', 'age', 'skin', 'diabetes'],
      dtype='object')

In [9]:
data.shape # getting shape of datasets

(768, 10)

In [10]:
data.info() #seeing the info of datasets or we can say that checking the format of  data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
num_preg        768 non-null int64
glucose_conc    768 non-null int64
diastolic_bp    768 non-null int64
thickness       768 non-null int64
insulin         768 non-null int64
bmi             768 non-null float64
diab_pred       768 non-null float64
age             768 non-null int64
skin            768 non-null float64
diabetes        768 non-null int64
dtypes: float64(3), int64(7)
memory usage: 60.1 KB

In [11]:
y=data["diabetes"] # dividing the output label 
y.shape # seeing the shape of output label

(768,)

In [12]:
x=data[["num_preg","glucose_conc","diastolic_bp","thickness","insulin","bmi","diab_pred","age","skin"]] #dividng the feature colunms
x.shape # seeing the shape of feature data frame

(768, 9)

In [13]:
x.head(2) # two rows of feature dataframe

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin
0,6,148,72,35,0,33.6,0.627,50,1.3790
1,1,85,66,29,0,26.6,0.351,31,1.1426

In [14]:
x.head(2) # two rows of feature dataframe

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin
0,6,148,72,35,0,33.6,0.627,50,1.3790
1,1,85,66,29,0,26.6,0.351,31,1.1426

In [15]:
unique_ele, unique_count = np.unique(y,return_counts=True) # checking balance or imbalance of output from function
print("Frequency of unique values of the said array:")
print(np.asarray((unique_ele, unique_count)))

Frequency of unique values of the said array:
[[  0   1]
 [500 268]]

In [18]:
from sklearn.model_selection import train_test_split # importing train test splting method

x_1, x_test, y_1, y_test = train_test_split(x,y,test_size=0.2,random_state=42) # train =80 test =20
x_train, x_cv, y_train, y_cv = train_test_split(x_1,y_1,test_size= 0.2, random_state=42) #train = 80 % of 80 and crossvalidation=20% of 20

print("x_train shape: ",x_train.shape, "y_train shape: ",y_train.shape)#size of train ##for traing
print("x_cv shape: ",x_cv.shape, "y_cv shape: ",y_cv.shape)#size of crossvalidation ##fro better accuracy
print("x_test shape: ",x_test.shape, "y_test shape: ",y_test.shape)# size of test ##fro prediction

x_train shape:  (491, 9) y_train shape:  (491,)
x_cv shape:  (123, 9) y_cv shape:  (123,)
x_test shape:  (154, 9) y_test shape:  (154,)

In [19]:
print("x_train shape: ",x_train.shape, "y_train shape: ",y_train.shape)
print("x_cv shape: ",x_cv.shape, "y_cv shape: ",y_cv.shape)
print("x_test shape: ",x_test.shape, "y_test shape: ",y_test.shape)

x_train shape:  (491, 9) y_train shape:  (491,)
x_cv shape:  (123, 9) y_cv shape:  (123,)
x_test shape:  (154, 9) y_test shape:  (154,)

In [21]:
from sklearn.preprocessing import StandardScaler# scaling our datasets 
sc = StandardScaler()

x_trainS = sc.fit_transform(x_train)
X_1S = sc.fit_transform(x_1)
x_cvS = sc.transform(x_cv)

x_testS = sc.transform(x_test)

In [22]:
from sklearn.neighbors import KNeighborsClassifier #imorting knn and fitting model 
from sklearn.model_selection import GridSearchCV
knn = KNeighborsClassifier()
k_range = list(range(1, 30,4)) # creating k value
parameters = {'n_neighbors': k_range, 'algorithm': ['auto', 'ball_tree', 'kd_tree'], 'weights': ['uniform', 'distance'] }
print(parameters)

grid = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')

grid.fit(X_1S,y_1)

{'n_neighbors': [1, 5, 9, 13, 17, 21, 25, 29], 'algorithm': ['auto', 'ball_tree', 'kd_tree'], 'weights': ['uniform', 'distance']}

C:\Users\Padam\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree'],
                         'n_neighbors': [1, 5, 9, 13, 17, 21, 25, 29],
                         'weights': ['uniform', 'distance']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [23]:
grid.best_params_

{'algorithm': 'auto', 'n_neighbors': 5, 'weights': 'uniform'}

In [40]:
from sklearn.metrics import accuracy_score
Acc = []

for k in k_range: # passing differnt k values to find at which accuracy is best
  clf = KNeighborsClassifier(n_neighbors=k)
  clf.fit(x_trainS,y_train)
  y_pred = clf.predict(x_cvS)
  Acc.append(accuracy_score(y_pred,y_cv))

print(Acc)

[0.6829268292682927, 0.7317073170731707, 0.7073170731707317, 0.7317073170731707, 0.7235772357723578, 0.7073170731707317, 0.7317073170731707, 0.7398373983739838]